# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
LLmyApp/Pods/Alamofire/Source/AlamofireExtended.swift
LLmyApp/Pods/Alamofire/Source/CachedResponseHandler.swift
LLmyApp/Pods/Alamofire/Source/EventMonitor.swift
LLmyApp/Pods/Alamofire/Source/HTTPHeaders.swift
LLmyApp/Pods/Alamofire/Source/HTTPMethod.swift
LLmyApp/Pods/Alamofire/Source/MultipartUpload.swift
LLmyApp/Pods/Alamofire/Source/OperationQueue+Alamofire.swift
LLmyApp/Pods/Alamofire/Source/ParameterEncoder.swift
LLmyApp/Pods/Alamofire/Source/Protector.swift
LLmyApp/Pods/Alamofire/Source/RedirectHandler.swift
LLmyApp/Pods/Alamofire/Source/RequestInterceptor.swift
LLmyApp/Pods/Alamofire/Source/RequestTaskMap.swift
LLmyApp/Pods/Alamofire/Source/Result+Alamofire.swift
LLmyApp/Pods/Alamofire/Source/RetryPolicy.swift
LLmyApp/Pods/Alamofire/Source/ServerTrustEvaluation.swift
LLmyApp/Pods/Alamofire/Source/URLConvertible+URLRequestConvertible.swift
LLmyApp/Pods/Alamofire/Source/URLEncodedFormEncoder.swift
LLmyApp/Pods/Alamofire/Source/URLRequest+Alamofire.swift
LLmyApp/Pods/Alamofire/Source/URLSessionConfiguration+Alamofire.swift
LLmyApp/Pods/Moya/Sources/Moya/RequestTypeWrapper.swift
LLmyApp/Pods/Target Support Files/RxRelay/RxRelay-dummy.m
LLmyApp/Pods/Target Support Files/RxRelay/RxRelay-Info.plist
LLmyApp/Pods/Target Support Files/RxRelay/RxRelay-prefix.pch
LLmyApp/Pods/Target Support Files/RxRelay/RxRelay-umbrella.h
LLmyApp/Pods/Target Support Files/RxRelay/RxRelay.modulemap
LLmyApp/Pods/Target Support Files/RxRelay/RxRelay.xcconfig
LLmyApp/Pods/Target Support Files/Pods-LLmyApp/Pods-LLmyApp-frameworks-Debug-input-files.xcfilelist
LLmyApp/Pods/Target Support Files/Pods-LLmyApp/Pods-LLmyApp-frameworks-Debug-output-files.xcfilelist
LLmyApp/Pods/Target Support Files/Pods-LLmyApp/Pods-LLmyApp-frameworks-Release-input-files.xcfilelist
LLmyApp/Pods/Target Support Files/Pods-LLmyApp/Pods-LLmyApp-frameworks-Release-output-files.xcfilelist
LLmyApp/Pods/RxSwift/RxSwift/Date+Dispatch.swift
LLmyApp/Pods/RxSwift/RxSwift/Observables/CompactMap.swift
LLmyApp/Pods/RxRelay/LICENSE.md
LLmyApp/Pods/RxRelay/README.md
LLmyApp/Pods/RxRelay/RxRelay/BehaviorRelay.swift
LLmyApp/Pods/RxRelay/RxRelay/Observable+Bind.swift
LLmyApp/Pods/RxRelay/RxRelay/PublishRelay.swift
LLmyApp/Pods/RxRelay/RxRelay/Utils.swift
